<!DOCTYPE html>
<html lang="en">
<head th:replace="index.html :: head" />
<body>
	<main class="auth"> <header id="auth-header" class="auth-header"
		style="background-image: url(@{/assets/images/illustration/img-1.png});">
	</header>
	<form class="auth-form" th:object="${password}" method="POST"
		enctype="utf8" action="/auth/password">
		<!-- .form-group -->
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.oldPassword}">email</label>
				<input type="password" th:field="*{oldPassword}"
					class="form-control" required="" autofocus="" />
				<p th:each="error : ${#fields.errors('password')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.newPassword">email</label>
				<input type="password" th:field="newPassword" class="form-control"
					required="" autofocus="" />
				<p th:each="error : ${#fields.errors('newPassword')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.confirmPassword">email</label>
				<input type="password" th:field="confirmPassword"
					class="form-control" required="" autofocus="" />
				<p th:each="error : ${#fields.errors('confirmPassword')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>
	</form>
</body>
</html>